/* Font import and base styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

/* Set margin and padding for #root and html, body */
html, body, #root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.welcome-text {
  opacity: 0;
  font-size: 35px;
  animation: fadeIn 1s forwards;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
